<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockify</title>
    <%- include('./bootstrap') %>
</head>

<body>
    <%- include('./navbar') %>

    <div class="text-center" style="max-width:400px;margin:auto;">
        <h1 class="mb-3">Blockify</h1>
        <p>Blockify is a tool that can be used to cover up text on documents for studying.</p>
    </div>
</body>

</html>