<!-- Navbar tutorial: https://www.youtube.com/watch?v=qNifU_aQRio -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    
    <div class="container">
        <a href="/" class="navbar-brand mb-0 h1">
            Blockify
        </a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
        class="collapse navbar-collapse" 
        id="navbarNav">
            <ul class="navbar-nav">
                <% if (is_auth) { %>
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">
                            Dashboard
                        </a>
                    </li>
                <% } %>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        Contact
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if (!is_auth) { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/sign_up" class="nav-link">
                            Sign Up
                        </a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST">
                            <button class="btn btn-primary" type="submit">Log Out</button>
                        </form>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>


</nav>